@model HealthWeb.Models.Patient

@{
    ViewBag.Title = "Details";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h2>Patient Details</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPerson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPerson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmergencyContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdmissionDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdmissionDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DoctorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoctorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HealthSummary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HealthSummary)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
